h1 {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    background-color: black;
    padding: 10px;
    border: solid rgb(139, 253, 213) 5px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 95px;
}

.class1 {
    background-color: aqua;
}

#unique {
    border: dashed black 5px;
}

.btn {
    border:none;
    width: 150px;
    height: 45px;
    color:black;
    background:white;
    padding:15px; 
    font-size:15px;
    margin:30px;
    border-radius: 15px;
  }